<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{{ city.city }}{% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style.css">
    {% block stylesheet %}{% endblock %}
    <link rel="icon" href="/assets/images/favicon.ico">
</head>

{% block webcam %}

    <h1 class="city-title mb-5">{{ city.city }}</h1>
    <div class="d-flex justify-content-center mb-5">
    <iframe id="inlineFrameExample"
            title="Inline Frame Example"
            height="450"
            width="700"
            src="{{  city.embed }}">
    </iframe>
    </div>

    <div class="row">
        <div class="col-lg-8 mx-auto">
            <!-- CUSTOM BLOCKQUOTE -->
            <blockquote class="blockquote bg-white p-5 shadow rounded">
                <div class="bg-info shadow-sm"><i class="fa fa-quote-left text-white"></i></div>
                <p class="mb-0 mt-2 font-italic">{{ city.description }}</p>
            </blockquote>
        </div>
    </div>

    <a href="/home/map"><img class="cross hvr-grow" src="/assets/images/crossIcon.png" alt="quit"></a>

    <div class="city-picture d-flex justify-content-center flex-wrap">
        <img src="/./assets/images/{{ city.picture1 }}" alt="photo d'un monument de la ville ou paysage">
        <img src="/./assets/images/{{ city.picture2 }}" alt="photo d'un monument de la ville ou paysage">
    </div>

    <div class="flexMid" style="margin-bottom: 30px">
        <a class="hvr-grow" href=""{{ city.wiki }}><h3>Wikipedia {{ city.city }}</h3></a>
    </div>

    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="picto-food d-flex justify-content-between align-items-center">
                <h2>Le saviez-vous ? </h2>
                <img class="torii "src="/./assets/images/torii.png" alt="torii">
            </div>

            <!-- CUSTOM BLOCKQUOTE -->
            <blockquote class="blockquote bg-white p-5 shadow rounded">
                <div class="bg-info shadow-sm"><i class="fa fa-quote-left text-white"></i></div>
                <p class="mb-0 mt-2 font-italic">{{ city.fact }}</p>
            </blockquote>
            <!-- END -->

        </div>
    </div>

    {% include 'City/recipe.html.twig' %}

    <footer class="flexMid">
        <a class="hvr-grow" href="/home/map" style="margin-bottom:30px"><h3>Retour à la carte du Japon</h3></a>
    </footer>

{% endblock %}
</html>
